@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.ttf)format(ttf),
    url(../fonts/Vazir.woff)format(woff),
    url(../fonts/Vazir.woff2)format(woff2),;
}
@font-face {
    font-family: tanha;
    src: url(../fonts/تنها.ttf)format(ttf),
    url(../fonts/تنها.woff)format(woff),
    url(../fonts/تنها.woff2)format(woff2);
}
/* Login */
body{
    margin: 0;
    padding: 0;
    background: url(../picture/کهکشان\ 2.jpg);
    background-size: cover;
    direction: rtl;
}
.login-box{
    width: 320px;
    height: 420px;
    background-color: #2e4388;
    color: #fff;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 100px 200px 0 #000;;
    padding: 70px 20px;
}
h1{
    margin-top: -50px;
    text-shadow: 0.1rem 0.1rem 0.8rem #000;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-family: vazir;
    color: #009bca;
    padding: 16px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: tanha;
    color: #8be4ff;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    font-family: tanha;
    color: #fff;
    text-align: right
}
.login-box input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #8be4ff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}
.btn-start{
    display: inline-block;
    padding: 0.3em 0.5em;
    background-color: #088;
    color: #fff;
    text-decoration: none;
    border-radius: 0.2em;
    border-bottom: 2px solid #044;
    transition: 1s;
    font-family: tanha;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-right: 5.5rem;
    margin-top: 1.5rem;
}
.btn-start:hover{
    background-color: rgb(136, 0, 118);
    border-bottom: 2px solid rgb(68, 0, 3);
}
.btn-start2{
    display: inline-block;
    padding: 0.3em 0.5em;
    background-color: rgb(187, 255, 255);
    color: rgb(0, 130, 236);
    text-decoration: none;
    border-radius: 0.2em;
    border-bottom: 2px solid rgb(0, 255, 255);
    transition: 1s;
    font-family: tanha;
    font-size: 12px;
    margin-bottom: 1rem;
    margin-right: 8rem;
    margin-top: 6rem;
    text-align: center;
}
.btn-start2:hover{
    background-color: rgb(255, 163, 235);
    border-bottom: 2px solid rgb(255, 96, 202);
    color: rgb(255, 0, 221);
}
.ثبت-نام{
    color: rgb(4, 255, 171);
    font-family: tanha;
    font-size: 13px;
    text-decoration: none;
}
/* End Login */
.container2{
    max-width: 1000px;
}
.left2{
    width: 100%;
    height: 40px;
}
.img a{
    font-family: tanha;
    font-size: 14px;
    background-color: #59008d;
    margin-bottom: 2rem;
    padding: 6px;
    margin-right: 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}